<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SamJUK\CacheDebounce\Model\Storage\QueueStorageInterface" type="SamJUK\CacheDebounce\Model\Storage\Pool" />

    <type name="SamJUK\CacheDebounce\Model\Storage\Pool">
        <arguments>
            <argument name="drivers" xsi:type="array">
                <item name="db" xsi:type="string">SamJUK\CacheDebounce\Model\Storage\Database</item>
                <item name="redis" xsi:type="string">SamJUK\CacheDebounce\Model\Storage\Redis</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CacheInvalidate\Model\PurgeCache">
        <plugin name="samjuk_cachedebounce_purge_cache" type="SamJUK\CacheDebounce\Plugin\PurgeCache" />
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="samjuk_cache_debounce_flush" xsi:type="object">SamJUK\CacheDebounce\Console\Command\Flush</item>
                <item name="samjuk_cache_debounce_status" xsi:type="object">SamJUK\CacheDebounce\Console\Command\Status</item>
            </argument>
        </arguments>
    </type>

</config>
